#chatWrapper{
    background: white;
    width: 100%;
    min-height: calc(100svh - 7.6rem);
    height: calc(100svh - 7.6rem);
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 0px 10px;
    box-sizing: border-box;
}
.chatList{
    background: white;
    border-bottom: .5px solid #3a4b553d;
    width: 100%;
    height: 70px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 15px;
}
.chatList .imgAndInfo{
    display: flex;
    gap: 10px;
}
.chatList .timeAndUnreadMessages .badge{
    color: white;
}
.chatList .timeAndUnreadMessages .time{
    font-family: Helvetica-regular;
    font-size: 13px;
    font-weight: 400;
    color: #3A4B55;
}
.chatList .timeAndUnreadMessages{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.chatList .imgAndInfo .imgchatList{
    border-radius: 100%;
    overflow: hidden;
    width: 66px;
    height: 66px;
}
.chatList .imgAndInfo .nameAndStatus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chatList .imgAndInfo .nameAndStatus .containerNameAndStatus{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: auto 10px;
}
.chatList .imgAndInfo .nameAndStatus .containerNameAndStatus .name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #3A4B55;
}
.chatList .imgAndInfo .nameAndStatus .containerNameAndStatus .status{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #768289;
}