.FabButton_wrapper{
    width:50px;
    height:50px;
    border-radius:10px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    /* bottom: 2rem;
    right: 2rem; */
    cursor: pointer;
}
.FabButton_wrapper img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
}